LigerRM.WebSite/App_WebReferences/Remote/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidateLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authentication" type="tns:Authentication" />
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ValidateHouseID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="houseID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateHouseIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateHouseIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHouseInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idcard" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHouseInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHouseInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHouseDetailInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rentNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHouseDetailInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHouseDetailInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHouseInfoByLoginName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHouseInfoByLoginNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHouseInfoByLoginNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="realName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idcard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nickName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLoginName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLoginNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateLoginNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRentInfoTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RentNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RRentArea" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="RProperty" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ROwner" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RIDCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RLocationDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRentInfoTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddRentInfoTestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RentNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RDName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RSName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RRName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RPSName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RDoor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RTotalDoor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RRoomType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RDirection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RStructure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RBuildingType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RFloor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RTotalFloor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RHouseAge" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RRentArea" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="RProperty" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ROwner" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ROwnerTel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RIDCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RLocationDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RPSParentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createdBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ownType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddRentInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRentRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RentNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RRAContactName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RRAContactTel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RRAIDCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RRentPrice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RRAStartDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RRAEndDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RRADescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createdBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRentRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddRentRecordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentAttribute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentAttributeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRentAttributeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmRentAttribute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmRentAttributeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmRentAttributeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsOrderConfirmed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsOrderConfirmedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsOrderConfirmedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteRentAttribute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteRentAttributeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompleteRentAttributeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentsByCoodinates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="distance" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentsByCoodinatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRentsByCoodinatesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistrictList">
        <s:complexType />
      </s:element>
      <s:element name="GetDistrictListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDistrictListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStreetList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="district" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStreetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStreetListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoadList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="district" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoadListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRoadListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPoliceStationList">
        <s:complexType />
      </s:element>
      <s:element name="GetPoliceStationListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPoliceStationListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocalPoliceStationList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parentstationId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocalPoliceStationListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocalPoliceStationListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHouseType">
        <s:complexType />
      </s:element>
      <s:element name="GetHouseTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHouseTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHouseDirection">
        <s:complexType />
      </s:element>
      <s:element name="GetHouseDirectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHouseDirectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHouseStructure">
        <s:complexType />
      </s:element>
      <s:element name="GetHouseStructureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHouseStructureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBuildingStructure">
        <s:complexType />
      </s:element>
      <s:element name="GetBuildingStructureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBuildingStructureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHouseClass">
        <s:complexType />
      </s:element>
      <s:element name="GetHouseClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHouseClassResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idCard" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRentHistoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHouseProperty">
        <s:complexType />
      </s:element>
      <s:element name="GetHousePropertyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHousePropertyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHouseRentType">
        <s:complexType />
      </s:element>
      <s:element name="GetHouseRentTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHouseRentTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageToPlice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rentNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sign" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageToPliceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMessageToPliceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHouseOwnType">
        <s:complexType />
      </s:element>
      <s:element name="GetHouseOwnTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHouseOwnTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteHouseInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="houseNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteHouseInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteHouseInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNationnalityList">
        <s:complexType />
      </s:element>
      <s:element name="GetNationnalityListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNationnalityListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProvinceList">
        <s:complexType />
      </s:element>
      <s:element name="GetProvinceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProvinceListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lng" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWord">
        <s:complexType />
      </s:element>
      <s:element name="HelloWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceCredential" type="tns:ServiceCredential" />
      <s:complexType name="ServiceCredential">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetLocationInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocationInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocationInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHousesByCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="housetype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isAvalible" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHousesByConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHousesByConditionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHousesCountByCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="housetype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isAvalible" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHousesCountByConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHousesCountByConditionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idcard" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRentInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRentImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RentNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imageStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRentImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddRentImageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentImageList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rentNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentImageListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRentImageListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="ValidateHouseIDSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateHouseID" />
  </wsdl:message>
  <wsdl:message name="ValidateHouseIDSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateHouseIDResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateHouseIDAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetHouseInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetHouseInfo" />
  </wsdl:message>
  <wsdl:message name="GetHouseInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetHouseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetHouseInfoAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetHouseDetailInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetHouseDetailInfo" />
  </wsdl:message>
  <wsdl:message name="GetHouseDetailInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetHouseDetailInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetHouseDetailInfoAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetHouseInfoByLoginNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetHouseInfoByLoginName" />
  </wsdl:message>
  <wsdl:message name="GetHouseInfoByLoginNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetHouseInfoByLoginNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetHouseInfoByLoginNameAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="AddUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserInfo" />
  </wsdl:message>
  <wsdl:message name="AddUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserInfoAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginNameSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLoginName" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginNameSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLoginNameResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginNameAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="AddRentInfoTestSoapIn">
    <wsdl:part name="parameters" element="tns:AddRentInfoTest" />
  </wsdl:message>
  <wsdl:message name="AddRentInfoTestSoapOut">
    <wsdl:part name="parameters" element="tns:AddRentInfoTestResponse" />
  </wsdl:message>
  <wsdl:message name="AddRentInfoTestAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="AddRentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddRentInfo" />
  </wsdl:message>
  <wsdl:message name="AddRentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddRentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddRentInfoAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="AddRentRecordSoapIn">
    <wsdl:part name="parameters" element="tns:AddRentRecord" />
  </wsdl:message>
  <wsdl:message name="AddRentRecordSoapOut">
    <wsdl:part name="parameters" element="tns:AddRentRecordResponse" />
  </wsdl:message>
  <wsdl:message name="AddRentRecordAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetRentAttributeSoapIn">
    <wsdl:part name="parameters" element="tns:GetRentAttribute" />
  </wsdl:message>
  <wsdl:message name="GetRentAttributeSoapOut">
    <wsdl:part name="parameters" element="tns:GetRentAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="GetRentAttributeAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="ConfirmRentAttributeSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmRentAttribute" />
  </wsdl:message>
  <wsdl:message name="ConfirmRentAttributeSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmRentAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmRentAttributeAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="IsOrderConfirmedSoapIn">
    <wsdl:part name="parameters" element="tns:IsOrderConfirmed" />
  </wsdl:message>
  <wsdl:message name="IsOrderConfirmedSoapOut">
    <wsdl:part name="parameters" element="tns:IsOrderConfirmedResponse" />
  </wsdl:message>
  <wsdl:message name="IsOrderConfirmedAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="CompleteRentAttributeSoapIn">
    <wsdl:part name="parameters" element="tns:CompleteRentAttribute" />
  </wsdl:message>
  <wsdl:message name="CompleteRentAttributeSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteRentAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteRentAttributeAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetRentsByCoodinatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRentsByCoodinates" />
  </wsdl:message>
  <wsdl:message name="GetRentsByCoodinatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRentsByCoodinatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRentsByCoodinatesAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetDistrictListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDistrictList" />
  </wsdl:message>
  <wsdl:message name="GetDistrictListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDistrictListResponse" />
  </wsdl:message>
  <wsdl:message name="GetDistrictListAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetStreetListSoapIn">
    <wsdl:part name="parameters" element="tns:GetStreetList" />
  </wsdl:message>
  <wsdl:message name="GetStreetListSoapOut">
    <wsdl:part name="parameters" element="tns:GetStreetListResponse" />
  </wsdl:message>
  <wsdl:message name="GetStreetListAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetRoadListSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoadList" />
  </wsdl:message>
  <wsdl:message name="GetRoadListSoapOut">
    <wsdl:part name="parameters" element="tns:GetRoadListResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoadListAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetPoliceStationListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPoliceStationList" />
  </wsdl:message>
  <wsdl:message name="GetPoliceStationListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPoliceStationListResponse" />
  </wsdl:message>
  <wsdl:message name="GetPoliceStationListAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetLocalPoliceStationListSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocalPoliceStationList" />
  </wsdl:message>
  <wsdl:message name="GetLocalPoliceStationListSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocalPoliceStationListResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocalPoliceStationListAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetHouseTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetHouseType" />
  </wsdl:message>
  <wsdl:message name="GetHouseTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetHouseTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetHouseTypeAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetHouseDirectionSoapIn">
    <wsdl:part name="parameters" element="tns:GetHouseDirection" />
  </wsdl:message>
  <wsdl:message name="GetHouseDirectionSoapOut">
    <wsdl:part name="parameters" element="tns:GetHouseDirectionResponse" />
  </wsdl:message>
  <wsdl:message name="GetHouseDirectionAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetHouseStructureSoapIn">
    <wsdl:part name="parameters" element="tns:GetHouseStructure" />
  </wsdl:message>
  <wsdl:message name="GetHouseStructureSoapOut">
    <wsdl:part name="parameters" element="tns:GetHouseStructureResponse" />
  </wsdl:message>
  <wsdl:message name="GetHouseStructureAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetBuildingStructureSoapIn">
    <wsdl:part name="parameters" element="tns:GetBuildingStructure" />
  </wsdl:message>
  <wsdl:message name="GetBuildingStructureSoapOut">
    <wsdl:part name="parameters" element="tns:GetBuildingStructureResponse" />
  </wsdl:message>
  <wsdl:message name="GetBuildingStructureAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetHouseClassSoapIn">
    <wsdl:part name="parameters" element="tns:GetHouseClass" />
  </wsdl:message>
  <wsdl:message name="GetHouseClassSoapOut">
    <wsdl:part name="parameters" element="tns:GetHouseClassResponse" />
  </wsdl:message>
  <wsdl:message name="GetHouseClassAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetRentHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetRentHistory" />
  </wsdl:message>
  <wsdl:message name="GetRentHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetRentHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetRentHistoryAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetHousePropertySoapIn">
    <wsdl:part name="parameters" element="tns:GetHouseProperty" />
  </wsdl:message>
  <wsdl:message name="GetHousePropertySoapOut">
    <wsdl:part name="parameters" element="tns:GetHousePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="GetHousePropertyAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetHouseRentTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetHouseRentType" />
  </wsdl:message>
  <wsdl:message name="GetHouseRentTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetHouseRentTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetHouseRentTypeAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="SendMessageToPliceSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessageToPlice" />
  </wsdl:message>
  <wsdl:message name="SendMessageToPliceSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageToPliceResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageToPliceAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetHouseOwnTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetHouseOwnType" />
  </wsdl:message>
  <wsdl:message name="GetHouseOwnTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetHouseOwnTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetHouseOwnTypeAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="DeleteHouseInfoSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteHouseInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteHouseInfoSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteHouseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteHouseInfoAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetNationnalityListSoapIn">
    <wsdl:part name="parameters" element="tns:GetNationnalityList" />
  </wsdl:message>
  <wsdl:message name="GetNationnalityListSoapOut">
    <wsdl:part name="parameters" element="tns:GetNationnalityListResponse" />
  </wsdl:message>
  <wsdl:message name="GetNationnalityListAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetProvinceListSoapIn">
    <wsdl:part name="parameters" element="tns:GetProvinceList" />
  </wsdl:message>
  <wsdl:message name="GetProvinceListSoapOut">
    <wsdl:part name="parameters" element="tns:GetProvinceListResponse" />
  </wsdl:message>
  <wsdl:message name="GetProvinceListAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetAddress" />
  </wsdl:message>
  <wsdl:message name="GetAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetAddressResponse" />
  </wsdl:message>
  <wsdl:message name="GetAddressAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="HelloWordSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWord" />
  </wsdl:message>
  <wsdl:message name="HelloWordSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWordResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWordServiceCredential">
    <wsdl:part name="ServiceCredential" element="tns:ServiceCredential" />
  </wsdl:message>
  <wsdl:message name="GetLocationInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocationInfo" />
  </wsdl:message>
  <wsdl:message name="GetLocationInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocationInfoAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetHousesByConditionSoapIn">
    <wsdl:part name="parameters" element="tns:GetHousesByCondition" />
  </wsdl:message>
  <wsdl:message name="GetHousesByConditionSoapOut">
    <wsdl:part name="parameters" element="tns:GetHousesByConditionResponse" />
  </wsdl:message>
  <wsdl:message name="GetHousesByConditionAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetHousesCountByConditionSoapIn">
    <wsdl:part name="parameters" element="tns:GetHousesCountByCondition" />
  </wsdl:message>
  <wsdl:message name="GetHousesCountByConditionSoapOut">
    <wsdl:part name="parameters" element="tns:GetHousesCountByConditionResponse" />
  </wsdl:message>
  <wsdl:message name="GetHousesCountByConditionAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetRentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetRentInfo" />
  </wsdl:message>
  <wsdl:message name="GetRentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetRentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetRentInfoAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="AddRentImageSoapIn">
    <wsdl:part name="parameters" element="tns:AddRentImage" />
  </wsdl:message>
  <wsdl:message name="AddRentImageSoapOut">
    <wsdl:part name="parameters" element="tns:AddRentImageResponse" />
  </wsdl:message>
  <wsdl:message name="AddRentImageAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetRentImageListSoapIn">
    <wsdl:part name="parameters" element="tns:GetRentImageList" />
  </wsdl:message>
  <wsdl:message name="GetRentImageListSoapOut">
    <wsdl:part name="parameters" element="tns:GetRentImageListResponse" />
  </wsdl:message>
  <wsdl:message name="GetRentImageListAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:portType name="ServicesSoap">
    <wsdl:operation name="ValidateLogin">
      <wsdl:input message="tns:ValidateLoginSoapIn" />
      <wsdl:output message="tns:ValidateLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateHouseID">
      <wsdl:input message="tns:ValidateHouseIDSoapIn" />
      <wsdl:output message="tns:ValidateHouseIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseInfo">
      <wsdl:input message="tns:GetHouseInfoSoapIn" />
      <wsdl:output message="tns:GetHouseInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseDetailInfo">
      <wsdl:input message="tns:GetHouseDetailInfoSoapIn" />
      <wsdl:output message="tns:GetHouseDetailInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseInfoByLoginName">
      <wsdl:input message="tns:GetHouseInfoByLoginNameSoapIn" />
      <wsdl:output message="tns:GetHouseInfoByLoginNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserInfo">
      <wsdl:input message="tns:AddUserInfoSoapIn" />
      <wsdl:output message="tns:AddUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLoginName">
      <wsdl:input message="tns:ValidateLoginNameSoapIn" />
      <wsdl:output message="tns:ValidateLoginNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRentInfoTest">
      <wsdl:input message="tns:AddRentInfoTestSoapIn" />
      <wsdl:output message="tns:AddRentInfoTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRentInfo">
      <wsdl:input message="tns:AddRentInfoSoapIn" />
      <wsdl:output message="tns:AddRentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRentRecord">
      <wsdl:input message="tns:AddRentRecordSoapIn" />
      <wsdl:output message="tns:AddRentRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRentAttribute">
      <wsdl:input message="tns:GetRentAttributeSoapIn" />
      <wsdl:output message="tns:GetRentAttributeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmRentAttribute">
      <wsdl:input message="tns:ConfirmRentAttributeSoapIn" />
      <wsdl:output message="tns:ConfirmRentAttributeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsOrderConfirmed">
      <wsdl:input message="tns:IsOrderConfirmedSoapIn" />
      <wsdl:output message="tns:IsOrderConfirmedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompleteRentAttribute">
      <wsdl:input message="tns:CompleteRentAttributeSoapIn" />
      <wsdl:output message="tns:CompleteRentAttributeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRentsByCoodinates">
      <wsdl:input message="tns:GetRentsByCoodinatesSoapIn" />
      <wsdl:output message="tns:GetRentsByCoodinatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDistrictList">
      <wsdl:input message="tns:GetDistrictListSoapIn" />
      <wsdl:output message="tns:GetDistrictListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStreetList">
      <wsdl:input message="tns:GetStreetListSoapIn" />
      <wsdl:output message="tns:GetStreetListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoadList">
      <wsdl:input message="tns:GetRoadListSoapIn" />
      <wsdl:output message="tns:GetRoadListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPoliceStationList">
      <wsdl:input message="tns:GetPoliceStationListSoapIn" />
      <wsdl:output message="tns:GetPoliceStationListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalPoliceStationList">
      <wsdl:input message="tns:GetLocalPoliceStationListSoapIn" />
      <wsdl:output message="tns:GetLocalPoliceStationListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseType">
      <wsdl:input message="tns:GetHouseTypeSoapIn" />
      <wsdl:output message="tns:GetHouseTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseDirection">
      <wsdl:input message="tns:GetHouseDirectionSoapIn" />
      <wsdl:output message="tns:GetHouseDirectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseStructure">
      <wsdl:input message="tns:GetHouseStructureSoapIn" />
      <wsdl:output message="tns:GetHouseStructureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildingStructure">
      <wsdl:input message="tns:GetBuildingStructureSoapIn" />
      <wsdl:output message="tns:GetBuildingStructureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseClass">
      <wsdl:input message="tns:GetHouseClassSoapIn" />
      <wsdl:output message="tns:GetHouseClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRentHistory">
      <wsdl:input message="tns:GetRentHistorySoapIn" />
      <wsdl:output message="tns:GetRentHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseProperty">
      <wsdl:input message="tns:GetHousePropertySoapIn" />
      <wsdl:output message="tns:GetHousePropertySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseRentType">
      <wsdl:input message="tns:GetHouseRentTypeSoapIn" />
      <wsdl:output message="tns:GetHouseRentTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageToPlice">
      <wsdl:input message="tns:SendMessageToPliceSoapIn" />
      <wsdl:output message="tns:SendMessageToPliceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseOwnType">
      <wsdl:input message="tns:GetHouseOwnTypeSoapIn" />
      <wsdl:output message="tns:GetHouseOwnTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteHouseInfo">
      <wsdl:input message="tns:DeleteHouseInfoSoapIn" />
      <wsdl:output message="tns:DeleteHouseInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNationnalityList">
      <wsdl:input message="tns:GetNationnalityListSoapIn" />
      <wsdl:output message="tns:GetNationnalityListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinceList">
      <wsdl:input message="tns:GetProvinceListSoapIn" />
      <wsdl:output message="tns:GetProvinceListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAddress">
      <wsdl:input message="tns:GetAddressSoapIn" />
      <wsdl:output message="tns:GetAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWord">
      <wsdl:input message="tns:HelloWordSoapIn" />
      <wsdl:output message="tns:HelloWordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocationInfo">
      <wsdl:input message="tns:GetLocationInfoSoapIn" />
      <wsdl:output message="tns:GetLocationInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHousesByCondition">
      <wsdl:input message="tns:GetHousesByConditionSoapIn" />
      <wsdl:output message="tns:GetHousesByConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHousesCountByCondition">
      <wsdl:input message="tns:GetHousesCountByConditionSoapIn" />
      <wsdl:output message="tns:GetHousesCountByConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRentInfo">
      <wsdl:input message="tns:GetRentInfoSoapIn" />
      <wsdl:output message="tns:GetRentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRentImage">
      <wsdl:input message="tns:AddRentImageSoapIn" />
      <wsdl:output message="tns:AddRentImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRentImageList">
      <wsdl:input message="tns:GetRentImageListSoapIn" />
      <wsdl:output message="tns:GetRentImageListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesSoap" type="tns:ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="http://tempuri.org/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUserInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateHouseID">
      <soap:operation soapAction="http://tempuri.org/ValidateHouseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ValidateHouseIDAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseInfo">
      <soap:operation soapAction="http://tempuri.org/GetHouseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHouseInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseDetailInfo">
      <soap:operation soapAction="http://tempuri.org/GetHouseDetailInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHouseDetailInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseInfoByLoginName">
      <soap:operation soapAction="http://tempuri.org/GetHouseInfoByLoginName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHouseInfoByLoginNameAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserInfo">
      <soap:operation soapAction="http://tempuri.org/AddUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddUserInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLoginName">
      <soap:operation soapAction="http://tempuri.org/ValidateLoginName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ValidateLoginNameAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRentInfoTest">
      <soap:operation soapAction="http://tempuri.org/AddRentInfoTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddRentInfoTestAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRentInfo">
      <soap:operation soapAction="http://tempuri.org/AddRentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddRentInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRentRecord">
      <soap:operation soapAction="http://tempuri.org/AddRentRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddRentRecordAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentAttribute">
      <soap:operation soapAction="http://tempuri.org/GetRentAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRentAttributeAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmRentAttribute">
      <soap:operation soapAction="http://tempuri.org/ConfirmRentAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ConfirmRentAttributeAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOrderConfirmed">
      <soap:operation soapAction="http://tempuri.org/IsOrderConfirmed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsOrderConfirmedAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteRentAttribute">
      <soap:operation soapAction="http://tempuri.org/CompleteRentAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CompleteRentAttributeAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentsByCoodinates">
      <soap:operation soapAction="http://tempuri.org/GetRentsByCoodinates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRentsByCoodinatesAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistrictList">
      <soap:operation soapAction="http://tempuri.org/GetDistrictList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDistrictListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetList">
      <soap:operation soapAction="http://tempuri.org/GetStreetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetStreetListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoadList">
      <soap:operation soapAction="http://tempuri.org/GetRoadList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRoadListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoliceStationList">
      <soap:operation soapAction="http://tempuri.org/GetPoliceStationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPoliceStationListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalPoliceStationList">
      <soap:operation soapAction="http://tempuri.org/GetLocalPoliceStationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetLocalPoliceStationListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseType">
      <soap:operation soapAction="http://tempuri.org/GetHouseType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHouseTypeAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseDirection">
      <soap:operation soapAction="http://tempuri.org/GetHouseDirection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHouseDirectionAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseStructure">
      <soap:operation soapAction="http://tempuri.org/GetHouseStructure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHouseStructureAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildingStructure">
      <soap:operation soapAction="http://tempuri.org/GetBuildingStructure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetBuildingStructureAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseClass">
      <soap:operation soapAction="http://tempuri.org/GetHouseClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHouseClassAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentHistory">
      <soap:operation soapAction="http://tempuri.org/GetRentHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRentHistoryAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseProperty">
      <soap:operation soapAction="http://tempuri.org/GetHouseProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHousePropertyAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseRentType">
      <soap:operation soapAction="http://tempuri.org/GetHouseRentType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHouseRentTypeAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToPlice">
      <soap:operation soapAction="http://tempuri.org/SendMessageToPlice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SendMessageToPliceAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseOwnType">
      <soap:operation soapAction="http://tempuri.org/GetHouseOwnType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHouseOwnTypeAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteHouseInfo">
      <soap:operation soapAction="http://tempuri.org/DeleteHouseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteHouseInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNationnalityList">
      <soap:operation soapAction="http://tempuri.org/GetNationnalityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetNationnalityListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinceList">
      <soap:operation soapAction="http://tempuri.org/GetProvinceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProvinceListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddress">
      <soap:operation soapAction="http://tempuri.org/GetAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAddressAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWord">
      <soap:operation soapAction="http://tempuri.org/HelloWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:HelloWordServiceCredential" part="ServiceCredential" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationInfo">
      <soap:operation soapAction="http://tempuri.org/GetLocationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetLocationInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHousesByCondition">
      <soap:operation soapAction="http://tempuri.org/GetHousesByCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHousesByConditionAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHousesCountByCondition">
      <soap:operation soapAction="http://tempuri.org/GetHousesCountByCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHousesCountByConditionAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ChangePasswordAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentInfo">
      <soap:operation soapAction="http://tempuri.org/GetRentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRentInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRentImage">
      <soap:operation soapAction="http://tempuri.org/AddRentImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddRentImageAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentImageList">
      <soap:operation soapAction="http://tempuri.org/GetRentImageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRentImageListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicesSoap12" type="tns:ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateLogin">
      <soap12:operation soapAction="http://tempuri.org/ValidateLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUserInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateHouseID">
      <soap12:operation soapAction="http://tempuri.org/ValidateHouseID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidateHouseIDAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseInfo">
      <soap12:operation soapAction="http://tempuri.org/GetHouseInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHouseInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseDetailInfo">
      <soap12:operation soapAction="http://tempuri.org/GetHouseDetailInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHouseDetailInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseInfoByLoginName">
      <soap12:operation soapAction="http://tempuri.org/GetHouseInfoByLoginName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHouseInfoByLoginNameAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserInfo">
      <soap12:operation soapAction="http://tempuri.org/AddUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddUserInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLoginName">
      <soap12:operation soapAction="http://tempuri.org/ValidateLoginName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidateLoginNameAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRentInfoTest">
      <soap12:operation soapAction="http://tempuri.org/AddRentInfoTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddRentInfoTestAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRentInfo">
      <soap12:operation soapAction="http://tempuri.org/AddRentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddRentInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRentRecord">
      <soap12:operation soapAction="http://tempuri.org/AddRentRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddRentRecordAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentAttribute">
      <soap12:operation soapAction="http://tempuri.org/GetRentAttribute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRentAttributeAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmRentAttribute">
      <soap12:operation soapAction="http://tempuri.org/ConfirmRentAttribute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ConfirmRentAttributeAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOrderConfirmed">
      <soap12:operation soapAction="http://tempuri.org/IsOrderConfirmed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsOrderConfirmedAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteRentAttribute">
      <soap12:operation soapAction="http://tempuri.org/CompleteRentAttribute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CompleteRentAttributeAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentsByCoodinates">
      <soap12:operation soapAction="http://tempuri.org/GetRentsByCoodinates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRentsByCoodinatesAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistrictList">
      <soap12:operation soapAction="http://tempuri.org/GetDistrictList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDistrictListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetList">
      <soap12:operation soapAction="http://tempuri.org/GetStreetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetStreetListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoadList">
      <soap12:operation soapAction="http://tempuri.org/GetRoadList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRoadListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoliceStationList">
      <soap12:operation soapAction="http://tempuri.org/GetPoliceStationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPoliceStationListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalPoliceStationList">
      <soap12:operation soapAction="http://tempuri.org/GetLocalPoliceStationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetLocalPoliceStationListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseType">
      <soap12:operation soapAction="http://tempuri.org/GetHouseType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHouseTypeAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseDirection">
      <soap12:operation soapAction="http://tempuri.org/GetHouseDirection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHouseDirectionAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseStructure">
      <soap12:operation soapAction="http://tempuri.org/GetHouseStructure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHouseStructureAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildingStructure">
      <soap12:operation soapAction="http://tempuri.org/GetBuildingStructure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetBuildingStructureAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseClass">
      <soap12:operation soapAction="http://tempuri.org/GetHouseClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHouseClassAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentHistory">
      <soap12:operation soapAction="http://tempuri.org/GetRentHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRentHistoryAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseProperty">
      <soap12:operation soapAction="http://tempuri.org/GetHouseProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHousePropertyAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseRentType">
      <soap12:operation soapAction="http://tempuri.org/GetHouseRentType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHouseRentTypeAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToPlice">
      <soap12:operation soapAction="http://tempuri.org/SendMessageToPlice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendMessageToPliceAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseOwnType">
      <soap12:operation soapAction="http://tempuri.org/GetHouseOwnType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHouseOwnTypeAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteHouseInfo">
      <soap12:operation soapAction="http://tempuri.org/DeleteHouseInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteHouseInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNationnalityList">
      <soap12:operation soapAction="http://tempuri.org/GetNationnalityList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetNationnalityListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinceList">
      <soap12:operation soapAction="http://tempuri.org/GetProvinceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProvinceListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddress">
      <soap12:operation soapAction="http://tempuri.org/GetAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAddressAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWord">
      <soap12:operation soapAction="http://tempuri.org/HelloWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:HelloWordServiceCredential" part="ServiceCredential" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationInfo">
      <soap12:operation soapAction="http://tempuri.org/GetLocationInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetLocationInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHousesByCondition">
      <soap12:operation soapAction="http://tempuri.org/GetHousesByCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHousesByConditionAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHousesCountByCondition">
      <soap12:operation soapAction="http://tempuri.org/GetHousesCountByCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHousesCountByConditionAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ChangePasswordAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentInfo">
      <soap12:operation soapAction="http://tempuri.org/GetRentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRentInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRentImage">
      <soap12:operation soapAction="http://tempuri.org/AddRentImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddRentImageAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentImageList">
      <soap12:operation soapAction="http://tempuri.org/GetRentImageList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRentImageListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="ServicesSoap" binding="tns:ServicesSoap">
      <soap:address location="http://qxw2332340157.my3w.com/Services.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicesSoap12" binding="tns:ServicesSoap12">
      <soap12:address location="http://qxw2332340157.my3w.com/Services.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>