LigerRM.WebService/Web References/AlertServer/AlertService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAlertList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="enddate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlertListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAlertListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAlertListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAlertList" />
  </wsdl:message>
  <wsdl:message name="GetAlertListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAlertListResponse" />
  </wsdl:message>
  <wsdl:portType name="AlertServiceSoap">
    <wsdl:operation name="GetAlertList">
      <wsdl:input message="tns:GetAlertListSoapIn" />
      <wsdl:output message="tns:GetAlertListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlertServiceSoap" type="tns:AlertServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlertList">
      <soap:operation soapAction="http://tempuri.org/GetAlertList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlertServiceSoap12" type="tns:AlertServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlertList">
      <soap12:operation soapAction="http://tempuri.org/GetAlertList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlertService">
    <wsdl:port name="AlertServiceSoap" binding="tns:AlertServiceSoap">
      <soap:address location="http://localhost:39124/AlertService.asmx" />
    </wsdl:port>
    <wsdl:port name="AlertServiceSoap12" binding="tns:AlertServiceSoap12">
      <soap12:address location="http://localhost:39124/AlertService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>